.pio
.~*

#Eclipse
.pydevproject

# FreeCAD backup
*.FCStd?

#Mechanics
*.amf
*.FCStd1

# Example files
Tools/*.BIN 
Tools/output.csv
Tools/data_*/

#Versioning
versioning
include/version.h
/coredump.log
